<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tuanzili.lims.mapper.EquipmentMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.tuanzili.lims.entity.Equipment">
        <result column="id" property="id" />
        <result column="created_date" property="createdDate" />
        <result column="updated_date" property="updatedDate" />
        <result column="deleted_date" property="deletedDate" />
        <result column="creator_id" property="creatorId" />
        <result column="updater_id" property="updaterId" />
        <result column="type" property="type" />
        <result column="name" property="name" />
        <result column="brand" property="brand" />
        <result column="number" property="number" />
        <result column="status" property="status" />
        <result column="sum_price" property="sumPrice" />
        <result column="unit_price" property="unitPrice" />
        <result column="instructions" property="instructions" />
        <result column="Image_list" property="imageList" />
        <result column="expiration_date" property="expirationDate" />
        <result column="remark" property="remark" />
        <result column="lab_id" property="labId" />
        <result column="lab_name" property="labName" />
    </resultMap>
    <!-- 通用查询结果列 -->
    <sql id="BaseColumnList">
        id,
        created_date,
        updated_date,
        deleted_date,
        creator_id, updater_id, type, name, brand, number, status, sum_price, unit_price, instructions, Image_list, expiration_date, remark, lab_id, lab_name
    </sql>
</mapper>
