<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tuanzili.lims.mapper.ProfessionMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.tuanzili.lims.entity.Profession">
        <result column="id" property="id" />
        <result column="created_date" property="createdDate" />
        <result column="updated_date" property="updatedDate" />
        <result column="deleted_date" property="deletedDate" />
        <result column="creator_id" property="creatorId" />
        <result column="updater_id" property="updaterId" />
        <result column="name" property="name" />
        <result column="synopsis" property="synopsis" />
        <result column="remark" property="remark" />
        <result column="college_id" property="collegeId" />
        <result column="college_name" property="collegeName" />
    </resultMap>
    <!-- 通用查询结果列 -->
    <sql id="BaseColumnList">
        id,
        created_date,
        updated_date,
        deleted_date,
        creator_id, updater_id, name, synopsis, remark, college_id, college_name
    </sql>
</mapper>
